/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .summary-container__summary-text {
        display: inline-block;
        width: 50%;
    }

    .summary-container__people-drinking-image {
        display: inline-block !important;
    }
}

    .summary-container {
        background-color: rgba(98, 177, 207, 0.2);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }
