a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.navigation-container {
    width: 16%
}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.navbar-brand__first-name {
    font: normal normal bold 25px/26px Quicksand;
    color:#113F60;
}

.navbar-brand__last-name {
    font: normal normal normal 30px/26px Pristina;
    color: #0065AB;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar > .container {
        flex-direction: column;
        background-color: #EEF7FA;
        align-items: normal;
    }

    .navbar-brand {
        margin-top: 55px;
        margin-bottom: 108px;
    }

    .navbar-menu-header-text {
        text-align: left;
        font: normal normal bold 25px/31px Quicksand;
        color: #113F60;
        padding-left: 8px;
        margin-bottom: 50px;
    }

    nav.navbar-expand-sm.navbar-toggleable-sm {
        background-color: #EEF7FA;
    }

    .navbar > .container > div > .navbar-nav {
        flex-direction: column;
    }
}